<div class="row centered"  *ngFor="let item of products" id="cart">
      <div class="col-md-9 cart-container">
        <div class="product_descript text-center" >
          <h3 class="product-title"><span > {{item.product.yourchoice}} </span><br /><span [innerHTML]="item.product.name.replace('<br>', '')"></span></h3>
          <div class="selection row"  >
            <div class="selection-packshot-wrapper col-md-4 col-sm-4 col-xs-4" style="height: 195px;">
             <img src="http://cart.expert-pdf.com/landingShop/{{item.product.imagebig}}"  class="selection-packshot-hover img-responsive"  alt="{{item.product.name}}" /> 
            </div>
            <div class="selection-option-container col-md-8 col-sm-8 col-xs-8">
               <div [innerHTML]="item.product.tagline"></div> 
              <ul class="selection-options" title="{{cartConfig.features}}" >
               
                 <li  class="" *ngFor="let taglineoption of item.product.taglineoptions" >
                    
                    <div [innerHTML]="taglineoption"></div> 
                 </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-12 col-xs-12 cart-container" style="padding-right: 0px;margin-top: auto;
    margin-bottom: auto;">
        <div class="row basket"  >
          <h1 class="product-title">
            <img src="http://cart.expert-pdf.com/landingShop/images/fr/blue_basket.png"/>
             {{cartConfig.yourcart}}
          </h1>
          <div class="basket-price-container row"     >
            <span class="basket-price"> {{item.product.price | euroFormat:'€'  }}</span>
            <del ng-if="cart.discount > 0"> {{item.product.baseprice | euroFormat:'€' }}  </del>
            <br>
          </div>
        </div>

        <div class="row centered">
        <button
            class="btn btn-block  buy btn--green"
            (click)="checkout()">
          {{cartConfig.action}}
        </button>
      </div>
      </div>
    </div>


