<!--<div  *ngIf="cartConfig" class="row option-container" style="margin-top: -1.5px;">
    
     <div  *ngFor="let product of products$ | async | orderBy: {property: 'id', direction: 'ASC'}" 
        ng-animate="'animate'"
        class="col-lg-3 col-md-6 col-sm-8 col-xs-12 comp-{{product.id}}"  
         style="padding-right: 0px;  padding-left: 0px;">
 <div *ngIf="product && product.id <5 ">
<ul >
	
  <li   *ngFor="let option of product.options ;let i = index; let odd = odd"
         style="text-align: center;" class="functions-option comp-{{product.id}}" [class.odd]="odd"
   > 

      <span *ngIf="option==1"  class="fa tick"></span>
      <span *ngIf="option==0"  class="fa notick"></span> 
   
    </li>
     
 </ul>    
  </div>	 
 </div>
</div>
-->
   
    
	 <ul *ngFor="let option of options$ | async ;let odd = odd"  class="compare-row" [class.odd]="odd" >
      <li class="col-1" >
      {{option.dataText}} 
      </li>

      <li  *ngIf="option.Converter"
            class="col-2 col-2-2"   > 
          
          <span *ngIf="option.Converter=='YES'"  class="fa tick"></span>
      </li>

      <li  *ngIf="option.Home"
            class="col-2 col-2-3"   > 
         
            <span *ngIf="option.Home=='YES'"  class="fa tick"></span>
      </li>

      <li  *ngIf="option.Professional"
            class="col-2 col-2-4"   > 
         
            <span *ngIf="option.Professional=='YES'"  class="fa tick"></span>  
      </li>
      
      <li  *ngIf="option.Ultimate"
            class="col-2 col-2-5"   > 
          
            <span *ngIf="option.Ultimate=='YES'"  class="fa tick"></span>  
      </li>
   </ul>
 