/* You can add global styles to this file, and also import other style files */
 @import '~bootstrap/dist/css/bootstrap.min.css';
 
$font-family:Open Sans, Arial, Tahmoa, Calibri;
$color_1: #000;
$color_2: red;
$color_3: #fcf8e3;
$color_4: #333;
$color_5: #eaebeb;
$white: #fff;
$color_7: #31708f;

$background_color_1: #f1f0f1;
$background_color_2: #fff;
$background_color_3: #ffffff;
$background_color_4: #F0AA05;
$background_color_5: #0AC34B;
$background_color_6: #0C99E0;
$background_color_7: #DCF2FD;
$background_color_8: rgb(12, 153, 224);
$background_color_9: #eaebeb;
$background_color_10: #FFFFFF;
$background_color_11: #E68500;
$background_color_12: #FBD10B;
$background_color_13: #ff5078;
 body {
  font: 14px $font-family;
  color: #4b4b4b;
  margin: 0;
  padding: 0;
  cursor: default;
  background: #FFF;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-x: hidden;
}

* {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  &:before, &:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
  }
}
.selection-option-container {
    text-align: left;
}
ul.selection-options {
    margin-top: 4px;
    margin-left: -25px;
}
ul.selection-options:before {
    content: attr(title);
    font-size: 180%;
    font-weight: bold;
    margin-left: -15px;
} 
.product-title{
  padding-bottom: 10px;
}
.cols-2 {
  width: 50%;
  &.left {
    padding-right: 25px;
  }
  &.right {
    padding-left: 25px;
  }
  ul {
    list-style-type: square;
    padding-left: 35px;
    margin-bottom: 15px;
    li {
      margin-bottom: 5px;
      ul {
        padding-top: 5px;
        list-style-type: circle;
      }
    }
  }
}

.cols-2-wide {
  width: 70%;
  padding-right: 35px;
}

.cols-2-thin {
  width: 30%;
}

.compare-title {
  padding: 20px 20px 0;
  text-align: center;
  h1 {
    font-size: 35px;
    font-weight: 100;
  }
}

.compare-content {
  padding: 0 20px 20px;
  text-align: center;
}

.fa.tick:before {
  content: "\f00c";
  font-size: 18px;
}
.fa.notick:before{content:" ";font-size:18px;}

.compare-table-wrap {
  background: #fff;
  ul {
    display: table;
    width: 100%;
    &.odd {
      background: #f7f7f7;
    }
    li {
      display: table-cell;
      vertical-align: middle;
    }
  }
  .col-1 {
    width: 30%;
    padding: 10px;
    b.red {
      color: #FF5744;
    }
  }
  .col-2 {
    width: 17.5%;
    text-align: center;
    padding: 10px 0;
  }
}

.prod-compare-box {
  position: relative;
  display: block;
}

.compare-table-wrap .col-2 img {
  height: auto;
  width: 80%;
}

.prod-compare-box .discount {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  border-radius: 100%;
  background: rgba(49, 157, 219, 0.8);
}

.compare-head {
  background: #333;
  color: #fff;
  font-weight: 600;
  font-size: 1.1em;
  .col-1 {
    font-size: 1.1em;
  }
  .col-2 {
    font-size: 0.7em;
  }
}

.compare-table-wrap a.buy {

  &.download {
    font-size: 1em;
    margin: 10px 0 0 !important;
    padding: 5px 8px;
    letter-spacing: 0;
  }
  &.cart {
    display: block;
    margin-top: 6px;
    text-align: center;
    i {
      display: inline-block;
      vertical-align: center;
    }
    b {
      display: inline-block;
      vertical-align: center;
      text-decoration: underline;
    }
    &:hover {
      color: #0c99de;
    }
  }
}

.lang-de .compare-table-wrap {
  a.buy.download {
    font-size: 0.9em;
    padding: 5px 3px;
  }
  .col-2 {
    width: 11%;
  }
}

.compare-table-wrap {
  ul.prod-compare-prods li {
    vertical-align: top;
    h3 {
      font-weight: 100;
      font-size: 1.2em;
      min-height: 54px;
      margin-top: 20px;
      padding: 0 10px;
    }
    .prod_price {
      font-weight: 700;
      s {
        font-weight: normal;
        color: #666;
        display: block;
        font-size: 15px;
      }
      strong.offer {
        font-size: 22px;
      }
    }
    small {
      display: block;
      font-size: 0.8em;
    }
    &.col-2-6, &.col-2-7, &.col-2-8 {
      color: #444;
      vertical-align: middle;
    }
    &.col-2-6 h3, &.col-2-7 h3, &.col-2-8 h3 {
      padding-top: 8px;
    }
  }
  .compare-row {
    .col-2-2 {
      box-shadow: inset 0 0 90px rgba(96, 174, 96, 0.3);
    }
    .col-2-3 {
      box-shadow: inset 0 0 90px rgba(2, 162, 216, 0.3);
    }
    .col-2-4 {
      box-shadow: inset 0 0 90px rgba(241, 123, 32, 0.3);
    }
    .col-2-5 {
      box-shadow: inset 0 0 90px rgba(209, 34, 59, 0.3);
    }
  }
}
 

.btn.buy {
    background: #ffb341;
    background: linear-gradient(to left, #08c34a 50%, #099A3C 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.5s ease-in-out;
    border-radius: 0;
    color: $white;
    &:hover {
      background-position: left bottom;
    }
  }

.sticky-compare-prods {
  position: fixed;
  z-index: 999;
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  left: 0;
  padding: 0 15px;
  transform: translateY(-310px);
  transition: 0.4s ease-in-out;
  transition-property: transform,opacity;
  opacity: 0;
  top: -300px;
  &.show {
    transform: translateY(0);
    opacity: 1;
    top: 0;
  }
  img, .prod_price {
   
  }
  .prod-compare-prods {
    margin: 0 auto;
    max-width: 1130px;
  }
  &.sticky-offer {
    .prod_price {
      display: block;
    }
    h3 {
      min-height: 44px !important;
    }
  }
}

.lang-de.is-mac-page .compare-table-wrap .col-2 {
  width: 13%;
}


 .compare-table-wrap ul.prod-compare-prods li h3 {
    font-weight: 100;
    font-size: 1.2em;
    min-height: 54px;
    margin-top: 20px;
    padding-left: 0px;
}

.upsell-price-container, .discount-price-container {
  display: block;
   
  background: #09c;
  font-weight: 900 ;
    font-size: 1em;
    padding: 5px 8px;
    letter-spacing: 0;
  color: $white;
  width: 71px;
  height: 71px;
  position: absolute;
  top: -10px;
  right: 0px;
  text-align: center;
  border-radius: 500px;
  z-index: 801;
}
.discount-price {
  margin-top: 20.5px;
  display: block;
}
.compare-row {
margin-top: 0;
    margin-bottom: 0;
}
.upsell-price {
  margin-top: 10.5px;
  display: block;
}
.discount-disc {
  width: 80px;
  height: 80px;
  line-height: 80px;
  font-weight: 700;
  font-size: 25px;
  color: #fff;
  text-align: center;
  background: #09c;
  border-radius: 100%;
  position: absolute;
  bottom: 50px;
  right: -50px;
}
.packshot {
  text-align: center;
  margin-bottom: 12px;
  img {
    position: relative;
    margin: 0 ;
    padding: 0;
    border: 0;
    cursor: pointer;
    min-width: 88px !important;
    height: auto;
    
  }
}
.text-block .discount-disc {
  position: static;
  display: inline-block;
  margin-left: -20px;
}

@media screen and (max-width:1200px) {

.container{width:100%;}
.product-title {
    font-size: 2.5em;
}

}

.basket-price {
    font: 700 40px/40px $font-family;
}
@media screen and (max-width:980px) {
  body{font-size:90%;}
.compare-table-wrap ul.prod-compare-prods li h3 {
    font-size: 1.45em;
}
.cols-2{width:100%;}
.cols-2.left{padding-right:0;}
.cols-2.right{padding-left:0;}
.btn.buy{display:block;}
.sticky-btns.show{display:none !important;}

}

@media screen and (max-width:780px) {

body{font-size:90%;}

.compare-table-wrap a.buy.download {
    font-size: 0.7em;
    
}
.compare-table-wrap ul{display:block; padding-left: 0px;}
.compare-table-wrap .col-1{width:100%;display:block; max-width: 100%;}
.compare-table-wrap .col-2{width:25%;display:inline-block;max-width: 25%;}
.compare-table-wrap a.buy.download{font-size:0.9em;}


}
.basket-price-container {
    display: block;
    font: 700 20px/30px Gudea,Arial,sans-serif;
    color: #000;
    width: 100%;
    text-align: center;
    z-index: 801;
}
.basket-price-container >del {
    display: block;
    color: red;
    font-size: 25px;
    margin-top: 10.5px;
}
.btn.buy.gotit {
    background: #FFFFFF;
    /* background: linear-gradient(to left, #08c34a 50%, #099A3C 50%); */
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.5s ease-in-out;
    border-radius: 0;
    color: #fff;
}
@media screen and (max-width:500px) {

body{font-size:80%;}

.btn.buy{font-size:1.8em;padding:10px 20px;}

}

.gotit {
   
  background-color: $white;
  
  color: $white;
}

a, a:hover {
    color: #333;
    text-decoration: none;
    outline: 0;
}
.compare-table-wrap .col-1 {
    
    padding-left: 0px;
}
.compare-table-wrap ul {
   
    padding-left: 0px;
}
 